body{
  background: #dcdcdc;
}
*{
  font-family: arial, sans-serif;
}
.titreEtNav{
  background-image: url("palmier.jpeg");
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom: 3px dashed #ffffff;
  border-radius: 10px;
}
h1 {
  text-decoration: underline;
  text-align: center;
  font-size: 30px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
a {
  color: #fdfdfd;
  text-decoration: none;
  border-style: double;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}
.boutonNav:hover {
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fdfdfd;
  color: #020202;
}
h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#sectionReservation {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr ;
  margin-left: 28.5%;
  margin-right: 28.5%;
  justify-content: center;
}
#textEtBouton {
  padding-top: 90px;
  padding-right: 10px;
  font-size: 20px;
}
#appartementCampeurs {
  width: 460px;
  height: 300px;
  border-radius: 10px;
  padding-left: 5px;
}
#boutonReservation {
  background-color: #56a3ee;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  margin-left: 30%;
  margin-right: 70%;
  color: #020202;
}
#boutonReservation:hover {
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #77b5ed;
}
footer {
  background-image: url("palmier.jpeg");
  color: #ffffff;
  padding-bottom: 40px;
  padding-top: 10px;
  border-top: 3px dashed #ffffff;
  border-radius: 10px;
  font-style: italic;
  text-align: center;
}
table, th, td {
  border: 2px solid #000000;
  border-collapse: collapse;
}
table {
  width: 70%;
}
th {
  padding: 1px 20px 1px 20px;
}
td {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
}
.celluleTextTableau{
  text-align: left;
  padding-right: 100px;
  padding-left: 1px;
}
li {
  list-style-type: circle;
  text-align: left;
}
tfoot {
  color: #ff0000;
  font-weight: bold;
}
#tableau{
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
#telephoneNumero{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 150px;
}
#chaisesPlage {
  border-radius: 100px;
  width: 300px;
  height: 450px;
}
#imageDesDeuxChaises {
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
}
form {
  margin-left: 30%;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.parametreInput {
  padding: 5px 0 5px 5px;
  font-size: 20px;
  margin-bottom: 10px;
}
#genreFM {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-size: 20px;
}
#conditionsGen {
  display: flex;
  padding-bottom: 20px;
  font-size: 20px;
}
#boutonValider {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
#boutonValidation {
  background-color: #77b5fe;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 3px;
  font-size: 20px;
  margin: 0 30% 25% 30%;
}
#boutonValidation:hover {
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #77a3ee;
}








